<h1>Events List</h1> 
<% if current_user.present? %>
<p>Welcome, you are logged in as: <%= current_user.email %>!</p>
<% else %>
<p>Welcome, Guest! You are not logged in and your events will be anonymous and public!</p>
<% end %>

<button create-event>New event</button>

<div list-events>
	<ul ng-repeat="event in allMyEvents">
		<li>
			<a href="/events#/show/{{event.id}}">{{event.description}}</a>
		</li>
	</ul>
</div>

<h1>Anonymous events from around the world</h1>
<div anonymous-events>
	<ul ng-repeat="event in anonymousEvents">
		<li>
			<a href="/events#/show/{{event.id}}">{{event.description}}</a>
		</li>
	</ul>
</div>