<div>
	<table class="table">
		<thead>
			<tr>
				<td>
					<h3>Automatic Thoughts</h3>
					<p>List the thoughts that popped into your head just as this event occurred.</p>
				</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="thought in cbtEvent.thoughts">
				<td><input class="form-control" type="text" ng-model="thought.automaticThought"></td>
				<td><button type="button" class="form-control btn btn-xs" ng-click="removeThought(cbtEvent, $index)">X</button></td>
			</tr>
		</tbody>

	</table>

	<div class="form-group"> 
		<button class="form-control btn btn-default" ng-click="addThought(cbtEvent)">Add another thought</button>
	</div>

	<br>

</div>

