<div>

<table>
		<thead>
			<tr>
				<td>Thought</td>
				<td>Distortions</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="thought in cbtEvent.thoughts">
				<td><p>{{thought.automaticThought}}</p></td>
				<td>
					<ul>
						<li ng-repeat="distortion in thought.distortions">
							<input type="text" ng-model="distortion.name">
							<button ng-click="removeDistortion(thought, $index)">X</button>
						</li>
					</ul>
				</td>
				<td>
					<button ng-click="addDistortion(thought)">add</button>
				</td>
			</tr>
		</tbody>

	</table>


</div>
