<div ng-controller="EventCreateCtrl">

	<h1>{{ getCurrentStateName() }}</h1>





	<!-- current cbtStep -->
	<div ui-view></div>	

	<!-- Show for first step -->
	<div ng-show="getCurrentStateName() == 'new'">
		<button ng-click="nextStep()">Let's start!</button>
	</div>

	<!-- show for wizard steps -->
	<div ng-hide="getCurrentStateName() == 'new'">
		<button ng-hide="getCurrentStateName() == 'new.review'" ng-click="updateEvent(cbtEvent)">UpdateEvent</button>
		<button ng-hide="firstStep()" ng-click="previousStep()">Previous</button>
		<button ng-hide="lastStep()"ng-click="nextStep()">Next</button>
	</div>



<hr>
<p>debug event</p>
<ul>
	<li>id: {{ cbtEvent.id}}</li>
	<li>feelings: {{ cbtEvent.feelings }}</li>
	<li>thoughts: {{ cbtEvent.thoughts }}</li>
	<li>description: {{ cbtEvent.description }}</li>
</ul>


	

</div>
