<% title "Home" %>

<!-- <h3>Home</h3> -->
<div class="col-md-12">
	<%# User is logged in %>
	<% if current_user.present? %>
		<p class="lead"><%= link_to "Go to your events", events_path %></p>
	<%# Guest %>
	<% else %>
		<p class="lead">Welcome, guest!</p>
	<% end %>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Events from around the world</h3>
	</div>
	<div class="panel-body">
		<ul class="list-unstyled">
			<% anonymous_events.each do |event| %>
			<li><%= link_to event.description, "/events#/show/#{event.id.to_s}" %></li>
			<% end %>
		</ul>
	</div>
</div>




