<% title "Home" %>

<!-- <h3>Home</h3> -->
<div class="col-md-12">
	<%# User is logged in %>
	<% if current_user.present? %>
		<p class="lead"><%= link_to "Go to your events", events_path %></p>
	<%# Guest %>
	<% else %>
		<p class="lead">Welcome, guest!</p>
	<% end %>
</div>

<h3>Events from around the world</h3>
<ul>
	<% anonymous_events.each do |event| %>
	<li><%= link_to event.description, "/events#/show/#{event.id.to_s}" %></li>
	<% end %>
</ul>




