<h3>Home</h3>

<%# User is logged in %>
<% if current_user.present? %>
	<p><%= link_to "Your events", events_path %></p>

<%# Guest %>
<% else %>
	<p>Welcome, guest!</p>
<% end %>


<h3>Anonymous events from around the world</h3>
<ul>
	<% anonymous_events.each do |event| %>
	<li><%= link_to event.description, "/events#/show/#{event.id.to_s}" %></li>
	<% end %>
</ul>


