<h1>Events index</h1>

<%= link_to "New Event", start_wizard_events_path, class: "btn btn-large" %>

<!-- User logged in -->
<% if current_user.present? %>
	<p>Your events</p>
	<% @events.each do |event| %>
		<p><%= link_to event.description, event_path(event) %></p>
	<% end %>


<!-- Guest -->
<% else %>
	<p><%= link_to "Sign in to save private events!", "/users/sign_in" %></p>
<% end %>