<% title "Events" %>

<div class="row">
	<div class="col-md-12">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Practice Cognitive Behavioral Therapy with a recent event</h3>
			</div>
			<div class="panel-body">
				<p><%= link_to "New Event", start_wizard_events_path, class: "btn btn-default btn-lg" %></p>
				<!-- User logged in -->
				<% if current_user.present? %>
				<p>Your events</p>
				<% @events.each do |event| %>
				<p><%= link_to event.description, event_path(event) %></p>
				<% end %>
			</div>
		</div>
		<!-- Guest -->
		<% else %>
		<p><%= link_to "Sign in to save private events!", "/users/sign_in" %></p>
		<% end %>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
		<div class="panel-body">
			<p>As a guest, you can only see anonymous events that people choose to make public:</p>
			<ul>
			<% @events.each do |e| %>
				<li><%= link_to e.description, event_path(e) %></li>
				<% end %>
			</ul>
		</div>
		</div>
	</div>	
</div>



