<% title "Events" %>

<div class="col-md-12">

	<p><%= link_to "New Event", start_wizard_events_path, class: "btn btn-default btn-lg" %></p>
	<!-- User logged in -->
	<% if current_user.present? %>
	<p>Your events</p>
	<% @events.each do |event| %>
	<p><%= link_to event.description, event_path(event) %></p>
	<% end %>


	<!-- Guest -->
	<% else %>
	<p><%= link_to "Sign in to save private events!", "/users/sign_in" %></p>
	<% end %>
</div>


